body {
  margin: 0;
  color: #eae9e9;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.7rem;
  color: #66BFBF;
}

.sub-heading1 {
  font-size: 1.5rem;
  color: #11999E;
  font-weight: normal;
  width: 50%;
  margin: auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
font-family: 'Merriweather', serif;
  color: #407088;
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto 100px auto;
}

.intro {
  width: 40%;
  margin:auto;
}

.top-container {
  background-color: #ecfcff;
  position: relative;
  padding-top: 100px;
}
.laptop {
  height: 500px;
  width: 500px;
}


.middle-container {
  margin: 100px 0;
}

.products {
  width: 8%;
}
.programs {
  width: 8%;
}
.projects {
  width: 8%;
}
.analytics {
  width: 8%;
}
.mysql {
  height: 100px;
  width: 100px;
}
.tableau {
  height: 150px;
  width: 150px;
}
.R {
  height: 100px;
  width: 100px;
}
.python {
  height: 150px;
  width: 150px;
}

.workex-row {
  width: 50%;
  margin: 100px 200px 100px auto;
  text-align: left;
  line-height: 2;
}
.workex-row1 {
  width: 70%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.internship-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.title1 {
  margin-top: 20px;
}
.leanbox-desc {
  clear: left;
}

.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;
}
.contact-message {
  width: 50%;
  margin: 40px auto 60px;
}
a {
  color: #407088;
  margin: 20px 10px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  padding: 20px 0;
}
.top-cloud {
  position: absolute;
  right: 100px;
  bottom: 300px;
  height: 250px;
  width: 250px;
}

.bottom-cloud {
  position: absolute;
  left: 100px;
  bottom: 300px;
  height: 200px;
  width: 150px;
}

.footer-link {
  color: #11999E;
}

.leanbox {
  width: 50%;
  float: left;
  margin-right: 30px;
}
.tcs {
  width: 35%;
  float: right;
  margin-left: 30px;
}
.stratview {
  width: 35%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
